.chat-wrapper {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: auto 65px;
}

.messages-box {
  // padding: 12px
  overflow: hidden;
}

.chat-element {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 8px 8px 0 8px;
}

.chat-element > li {
  border-top: 1px solid #666;
  padding: 4px 12px 4px 12px;
}

.chat-item {
  clear: both;
}

.chat-element > li > .chat-avatar {
  float: left;
  display: block;
  padding: 0 10px 10px 10px;
  width: 90px;
}

.chat-element > li > .chat-avatar > img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.chat-element > li > .chat-body {
  float: left;
  display: block;
  width: calc(100% - 120px);
}

.chat-box {
  padding: 12px;
  border-top: 1px solid #666;
}

.chat-btn {
  cursor: pointer;
}