.users-online-wrapper {
  padding: 8px;
}

.user-list {
  list-style: none;
  padding: 4px;
  margin: 0;
}

.user-list  > li {
  border-bottom: 1px solid #666;
}

.user-list  > li > img.avatar {
  max-width: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  float: right;
}

.user-list  > li.speaking > img.avatar {
  border: 2px solid green;
}